<main class="product">
  <div class="product__info">
    <h2 class="product__category">{{ product?.category }}</h2>
    <p class="product__title">{{ product?.title }}</p>
    <p class="product__desc">{{ product?.description }}</p>

    <ul class="product__list">
      <ng-container *ngFor="let images of productImages">
        <li *ngFor="let image of images.images">
          <img
            [src]="'../../../assets/' + image"
            alt="product?.title "
            (click)="getImage(image)"
          />
        </li>
      </ng-container>
    </ul>
  </div>
  <div class="product__image">
    <img
      [src]=" (selectedImg$|async) ?? '../../../assets/' + productImages?.[0]?.images?.[0] "
      alt="product?.title "
    />
  </div>

  <div class="product__details">
    <div class="product__size">
      <h3>Size</h3>
      <div class="product__size-box">
        <ng-container *ngFor="let item of product?.size; let i = index">
          <a
            [class.unAvailabe]="item.available == false"
            class="product__size-number"
            (click)="detectSize(item.size)"
            [class.selected]="selectedSize == item.size"
            >{{ item.size }}
        </a>
        </ng-container>
      </div>
    </div>
    <div class="product__review">
      <h3>Reviews</h3>
      <ul>
        <i class="fa fa-star" style="font-size:0.8rem" *ngFor="let star of starsArr "></i>
        <i class="fa fa-star-half-full" style="font-size:0.8rem" *ngIf="rating % 1 != 0 "></i>
      </ul>
    </div>
    <div class="product__price">
      <h3>Price</h3>
      <div>{{ product?.price | currency }}</div>
    </div>
    <div class="product__color-box">
      <h3>Colour</h3>
      <ul>
        <ng-container *ngFor="let color of colors">
          <li
            [style.background-color]="color"
            class="product__color-list selected"
            [class.selected]="selectedColor == color.hex"
            (click)="detectColor(color.hex,color.name)"
          ></li>
        </ng-container>
      </ul>
    </div>
  </div>
</main>
