<main class="product">
  <div class="product__info">
    <h2 class="product__category">Men's Road Running Shoes</h2>
    <p class="product__title">Nike Structure 25</p>
    <p class="product__desc">Running sneakers with thin elastic laces</p>

    <ul class="product__list">
      <li><img src="../../../assets/images/1/black/1.jpg" alt="" /></li>
      <li><img src="../../../assets/images/1/black/2.jpg" alt="" /></li>
      <li><img src="../../../assets/images/1/black/3.jpg" alt="" /></li>
      <li><img src="../../../assets/images/1/black/4.jpg" alt="" /></li>
      <li><img src="../../../assets/images/1/black/5.jpg" alt="" /></li>
    </ul>
  </div>
  <div class="product__image">
    <img src="../../../assets/images/1/black/1.jpg" alt="" />
  </div>

  <div class="product__details">
    <div class="product__size">
      <h3>Size</h3>
      <div class="product__size-box">
        <span class="product__size-number selected">40</span>
        <span class="product__size-number">40</span>
        <span class="product__size-number">40</span>
        <span class="product__size-number unAvailabe">40</span>
        <span class="product__size-number">40</span>
      </div>
    </div>
    <div class="product__review">
      <h3>Reviews</h3>
      <ul>
        <li><i-feather name="star" class="star"></i-feather></li>
        <li><i-feather name="star" class="star"></i-feather></li>
        <li><i-feather name="star" class="star"></i-feather></li>
        <li><i-feather name="star" class="star"></i-feather></li>
        <li><i-feather name="star" class="star"></i-feather></li>
      </ul>
    </div>
    <div class="product__price">
      <h3>Price</h3>
      <div>$450</div>
    </div>
    <div class="product__color-box">
      <h3>Colour</h3>
      <ul>
        <li class="product__color-list selected"></li>
        <li class="product__color-list"></li>
        <li class="product__color-list"></li>
        <li class="product__color-list"></li>
      </ul>
    </div>
  </div>
</main>
