.card {
  width: 80%;
  background-color: #f6f6f6;
  border: 20px solid #e1e1e1;
  margin: 6rem auto;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.view {
  margin-top: 2rem;
}
